*{
  box-sizing: border-box;
}
body{
  background: no-repeat url(img/background.jpeg);
  background-size: cover;
}
.container{
  padding: 1rem 2rem;
  margin: 0;
}
.slider-wrapper{
  position: static;
  max-width: 48rem;
  margin: 0 auto;
}
.slider{
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1,5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}
.slider img{
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}
.pagination-wrapper{
  display: flex;
  justify-content: right;
}
.pagination__box{
  width: 26px;
  height: 26px;
  padding: 5px;
  cursor: pointer;
}
.pagination__btn{
  width: 16px;
  height: 16px;
  background-color: #0C0C0E;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.active{
  background-color: #BB945F;
  cursor: pointer;
}